{% extends 'base.html' %}


{% block title %}
Редактирование профайла
{% endblock title %}


{% block body %}
<form action="{{ url_for('update_user', id=id) }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="d-flex justify-content-center">
            <div class="col-md-8">
                {% include 'news/components/_form_errors.html' %}
                <h2 class="text-center">
                    Редактирование профайла
                </h2>
                {% for field in form %}
                {% if field.name != 'csrf_token' %}
                <div class="card-body">
                    {{ field.label }}
                    {{ field(class='form-control') }}
                </div>
                {% endif %}
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-success btn-lg">
                    Применить изменения
                </button>
                <a href="{{ url_for('user_profile', id=id) }}" class="btn btn-outline-secondary">Назад</a>
            </div>
        </div>
    </form>
    {% endblock body %}