{% extends 'base.html' %}


{% block title %}
{{ post.title }}
{% endblock title %}


{% block body %}
<div class="col-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            {{ post.category.title }}
            <div>
                <form action="{{ url_for('delete_post', id=post.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-outline-danger"
                            onclick="return confirm('Вы уверены, что хотите удалить этот пост?');">
                        Удалить
                    </button>
                </form>
                <a href="#!" class="btn btn-outline-success">Редактировать</a>
                <a href="#!" class="btn btn-outline-info">Назад</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">{{ post.title }}</h5>
            {% if post.picture %}
            <img src="{{ url_for('static', filename='images/' + post.picture) }}"
                 width="200" height="200" class="img-fluid float-start me-3" alt="...">

            {% else %}
            <img src="https://flomaster.top/uploads/posts/2022-12/1672411576_flomaster-club-p-gazeta-risunok-dlya-detei-pinterest-13.jpg"
                 width="200" height="200" class="img-fluid float-start me-3" alt="...">
            {% endif %}
            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="card-footer text-muted">
            <!--            {{ post.created.strftime('%d.%m.%Y %H:%M:%S') }}-->
            {{ post.created | time_filter }}
        </div>
    </div>
</div>
{% endblock body %}